<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nicekkong.mapper.MessageMapper">
    <insert id="create" parameterType="Message">
        INSERT INTO tbl_message (targetId, sender, message)
        VALUES (#{targetId}, #{sender}, #{message})
    </insert>

    <select id="readMessage" resultType="Message" parameterType="int">
        SELECT * FROM tbl_message where mid = #{mid}
    </select>

    <update id="updateState" parameterType="int">
        UPDATE tbl_message SET openDate = now() WHERE mid = #{mid}
    </update>
</mapper>